# Maven build files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
mvnw
mvnw.cmd

# Git
.git/
.gitignore
.gitattributes

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# OS files
Thumbs.db
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore
